{% extends 'base_auth.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<script src="{% static 'js/auth.js' %}"></script>

{% block title %}Login{% endblock %}

{% block content %}
<div class="logincontainer">
    <div class="loginheading">Welcome to ProjectHub</div>
    <form class="loginform" action="{% url 'login' %}" method="post" id="loginForm"> 
        {% csrf_token %}
        <input placeholder="Email" id="email" name="email" type="email" class="input" required />
        <input placeholder="Password" id="password" name="password" type="password" class="input" required />
        <span class="forgot-password"><a href="{% url 'forgot_password' %}">Forgot Password ?</a></span>
        <input value="Sign In" type="submit" class="login-button" />
        <div class="loginlink">
            <p>Are you a new User?<a href="{% url 'register' %}" class="register-link">Create Account</a></p>
        </div>
    </form>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    
{% endblock %}
